@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

.keys {
    width: 35px;
    height: 35px;
    margin: 5px;

    font-weight: 700;
    color: rgb(105, 105, 105);
    background-color: rgb(142, 157, 172);
    border: none;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.unclickable {
    pointer-events: none; 
}
.game-started {
    background-color: rgb(209, 235, 251);
    color: rgb(86, 111, 143);
}
